.custom-header {
    background: linear-gradient(to bottom, #000000, #5c5c5c);
}

.custom-body {
    background-color: #D9D9D9;
}

.custom-button {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra oscura por debajo */
    background-color: #62CFFE;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  
  .custom-button:hover {
    transform: translateY(-2px);
    background-color: #6FA287;
  }
  

/** FormComic.js #124443 */