   /* Contenedor principal */
  .container {
    max-width: 90%;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #333;
  }
  
  /* Botones */
  .btn-warning {
    background-color: #f0ad4e;
    border: none;
  }
  
  .btn-warning:hover {
    background-color: #ec971f;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #b02a37;
  }
  
  /* Input de búsqueda */
  .form-control {
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
  }
  
  /* Contenedor de los cómics */
.comics-container {
  position: relative;
  padding-bottom: 60px; /* Espacio extra para el botón */
}

/* Contenedor del botón Volver */
.volver-container {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: auto;
}

.custom-ofertar{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .volver-container {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: auto;
  }
    
}

@media (max-width: 991px) {
  .custom-opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}