.contenedor-busqueda{
    width: 430px;
    height: 27px;
    margin: 15px;
    display: flex;
    background-color: #FFFFFF;
    padding: 0 15px 0 15px;
    border-radius: 25px;
    justify-content: space-between;
}

.desplegable{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 340px;
    height: 100%;
    border: none;
    padding-left: 10px;
}

.icono-busqueda{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}