.custom-button {
  min-width: 120px;
  height: 26px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #62CFFE;
  transition: transform 0.2s;
  border: none;
  margin: 5px;
}

.custom-button:hover {
  transform: translateY(-2px);
  background-color: #6FA287;
}

.custom-margin {
  margin-left: 3px;
  margin-right: 3px;
}

