.footer {
  width: 100%;
  min-height: 60px;
  background: linear-gradient(to top, #000000, #5c5c5c);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 35px;
  margin-top: 30px;
  padding: 10px;
}

/* Íconos de redes sociales */
.social-icon {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}


