.container {
    width: 90%;
    min-height: 367px;
    margin: 20px auto;
    /* Centrado horizontal */
}

.custom-input{
    background-color: #D9D9D9;
}

.contenedor-boton {
    height: 52px;
    background: linear-gradient(to bottom, #000000, #5c5c5c);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.contenedor-comics {
    width: 100%;
    min-height: 315px;
    /* Se adapta a las imágenes */
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* gap: 10px; */
    padding: 10px;
}

/* .contenedor-imagenes {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
} */

/* .contenedor-paginado {
    display: flex;
    justify-content: center; 
} */