*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  color: #D2BA94;
  background-image: url(./img/background-page.jpg);
  background-size: 200vw;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;

}

.App{
  min-height: 100vh;
  /* display: inline-block;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  margin-top: 50px;
  flex: 1;
  align-items: center;
}

section{
  display: flex;
  justify-content: center;
}

