* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  color: #000;
  background-image: url(./img/background-page.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
}


/* Ajustar la estructura principal */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ajustar el contenido principal */
main {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Centrar el contenido */
section {
  display: flex;
  justify-content: center;
}

/** Header de los formularios */
.custom-header {
  background: linear-gradient(to bottom, #000000, #5c5c5c);
}

.custom-body {
  background-color: #D9D9D9;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    background-size: 300vw; /* Evita que la imagen de fondo se vea pixelada */
  }

  main {
    margin-top: 20px;
    padding: 5px;
  }
}


